body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    color:#fff;
    text-align:center;
}

.container{
    margin-top:100px;
}

h1{
    font-size:3em;
    animation: fade 2s ease-in-out;
}

p{
    font-size:1.3em;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:white;
    color:#ff4b6e;
    text-decoration:none;
    font-weight:bold;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    background:#ff4b6e;
    color:white;
    transform:scale(1.1);
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.gallery img{
    width:250px;
    height:300px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.1) rotate(2deg);
}

.heart{
    font-size:80px;
    animation: beat 1s infinite;
}

@keyframes beat{
    0%{transform:scale(1)}
    50%{transform:scale(1.2)}
    100%{transform:scale(1)}
}

@keyframes fade{
    from{opacity:0; transform:translateY(-30px)}
    to{opacity:1; transform:translateY(0)}
}
